<div class="container">

  <br>

  <div class="row">
    <div class="col-12">

      <table class="table table-hover table-sm">

        <thead>
          <tr>
            <th scope="col">host</th>
            <th scope="col">url</th>
            <th scope="col">date</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let log of logs | slice:0:50">
            <td>
              {{ log.host }}
            </td>
            <td>
              {{ log.url }}
            </td>
            <td>
              {{ log.date | amTimeAgo }}
            </td>
          </tr>

        </tbody>

      </table>

    </div>
  </div>

</div>