<div class="container">

  <div class="row">
    <div class="col-12">

      <br>
      <p>
        Add your localhost path to be redirected to different micro services for development
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <table class="table table-hover table-sm">

        <thead>
          <tr>
            <th scope="col">URL path</th>
            <th scope="col">Destination</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let redirect of redirects" >
            <td>
              <input type="text" class="form-control-plaintext" [(ngModel)]="redirect.path" [disabled]="!redirect.editable">
            </td>
            <td>
              <input type="text" class="form-control-plaintext" [(ngModel)]="redirect.destination" [disabled]="!redirect.editable">
            </td>
            <td>
              <button *ngIf="redirect.editable" class="btn btn-danger float-right" (click)="removeRedirect( redirect )">x</button>
            </td>
          </tr>

          <tr>
            <td>
              <input type="text" class="form-control-plaintext" [(ngModel)]="newRedirect.path">
            </td>
            <td>
              <input type="text" class="form-control-plaintext" [(ngModel)]="newRedirect.destination">
            </td>
            <td>
              <button class="btn btn float-right" (click)="addNewRedirect()">+</button>
            </td>
          </tr>

        </tbody>

      </table>
    
    </div>
  </div>

</div>