<div class="container">

  <div class="row">
    <div class="col-12">

      <br>
      <p>
        Add your localhost path to be redirected to different micro services for development
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-12" *ngFor="let redirect of redirects">

      <form class="form-inline">
        <div class="form-group-mb-2">
          <input name="path" type="text" class="form-control-plaintext" [(ngModel)]="redirect.path" [disabled]="!redirect.editable">
        </div>
        <div class="form-group-mb-10">
          <input name="destination" type="text" class="form-control-plaintext" [(ngModel)]="redirect.destination" [disabled]="!redirect.editable">
        </div>
      </form>
    
    </div>
  </div>

</div>